/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, *::before, *::after {
  padding: inherit;
  margin: inherit;
}
body {
  line-height: 1;
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: black;
  overflow: hidden;
  touch-action: none;
  font-size: 100%;
}
input {
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container0 {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 20px;
}
.container1 {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 20px;
}
.overlay {
  z-index: 2;
  background-color: #333;
  border: 1px solid #DADADA;
  border-radius: 2%;
  opacity: 0.8;
  text-align: left;
  padding: 0.5rem;
}
.fixed {
  position: absolute;
  top: 5px;
  left: 5px;
}
.opts {
  display: block;
  margin: 0.5rem;
  color: #AAFFFF;
  vertical-align: middle;
}
.dashboard__span {
  color: #AAFFFF;
}
.dashboard__span-right {
  color: #AAFFFF;
  float: right;
}
input {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
label {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.25rem;
}
button {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 1em;
  font-weight: 500;
  vertical-align: middle;
  margin: 0.5rem auto;
  padding: 0.25rem 0.5rem;
}
.center {
  text-align: center;
}
